body {
  background: #eee;
  color: #666666; }

.tags-list{
  width: 90%;
  text-align: center;
  margin: auto;
}

.tags-list .search-input{
  width: 90%;
  height: 100px;
  font-size: 40px;
  color: #888;
  border-right-style: none;
  border-bottom-style: none;
}

.tags-list .search-list{
  width: 80%;
  margin: auto;
  border-left-style: solid;
  border-left-width: 6px;
  border-left-color: #CCC;

}
.tags-list .search-list .tags {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 32px;
  color: #777
}
